[Unit]
Description=Beemaster Dionaea Honeypot
Author=Beemaster
After=docker.service

[Service]
Restart=always
WorkingDirectory=/home/beemaster/mp-ids/mp-ids-hp
ExecStart=/usr/bin/sh /home/beemaster/mp-ids/mp-ids-hp/picontrol.sh dio start
ExecStop=/usr/bin/sh /home/beemaster/mp-ids/mp-ids-hp/picontrol.sh dio stop
