[Unit]
Description=Start Connector
Author=Beemaster
After=docker.service

[Service]
Restart=always
WorkingDirectory=/home/beemaster/mp-ids/mp-ids-hp/connector/src
ExecStart=/usr/bin/sh /home/beemaster/mp-ids/mp-ids-hp/run_connector_pi.sh
ExecStop=/usr/bin/sh /home/beemaster/mp-ids/mp-ids-hp/stop_connector_pi.sh
