[Unit]
Description=Start Connector
Author=Beemaster
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/sh /home/beemaster/mp-ids/mp-ids-hp/run_connector_pi.sh
ExecStop=/usr/bin/docker stop connector